
.tools
	padding: 8px 0px
	position: fixed
	width: 100%
	top: 0px
	z-index: 10
	background-color: rgba(255,255,255,0.9)
	
	.group
		padding-top: 8px
		padding-bottom: 8px

.main
	margin-top: 150px
	.population
		.invalid
			color: red
			.g
				font-weight: bold;
				
		.bits
			font-family: monospace
	
